$base: (
    main: #101010,
    contrast: #ffffff,
);

$neutral: (
    200: #232323,
    100: #868686,
    80: #F3F3F3,
    60: #E8E8E8,
);

$lime: (
    100: #9EFFBF,
);

$purple: (
    100: #7941A7,
);

$violet: (
    100: #E2BEFF,
);

$primary: (
    100: #1059C8,
);
